* {
    margin : 0;
    padding: 0;
}

html {
    width    : 100vw;
    font-size: 62.5%;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-image: $body-background;
    font-family     : $font-page;
    min-width       : 320px;
}