.footer{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;

    & a{
        color: $white;
        font-size: 1.4rem;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}