.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: $register-min-height;

    &__container{
        background-color: $register-container-background;
        border: 2px solid $white;
        border-radius: 40px;
        color: $white;
        padding: 60px 68px 40px;
        min-height: 700px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & h2 {
            text-align: center;
            font-size:2.5rem
        }

        &--form{
            display: flex;
            flex-direction: column;
            
            & label{
                display: flex;
                font-size: 1.4rem;
                align-items: center;

                & input {
                    margin-right: 5px;
                }
            }

        }

        &--details{
            color: $white;
            display: flex;
            justify-content: space-between;
            margin-top:10px ;

            & a{
                color: $white;
                font-size: 1.4rem;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &--socialMedia > div{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            margin-bottom: 10px;

            & > img{
                width: 30px;
                margin-right: 10px;
            }
        }

        &--linkLogin{
            font-size: 1.3rem;
            display: flex;
            align-items: baseline;
            place-content: center;

            & a{
                color: $white;
                font-size: 1.6rem;
                font-weight: bold;
                text-decoration: none;
                margin-left: 5px;
                letter-spacing: 1px;
                font-style: oblique;

                &:hover{
                    text-decoration: underline;
                }
            }

        }
    } 
}

.input{
    background-color: transparent;
    border: 0;
    border-bottom:2px solid $white;
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color: $white;
}

button{
    background-color: $register-button ;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: $white;
    font-size: 1.6rem;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}