$body-background: linear-gradient(to right, #434343 0%, black 100%);
$register-container-background: rgba(255, 255, 255,0.1);
$white: #fff;

$register-button: rgba(255, 255, 255,0.1);
$register-min-height:calc(100vh - 200px);

$font-page: 'Public Sans', sans-serif;